.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    list-style: none;
    padding: 0;
}

.list li {
    width: calc(100% / 5 - 16px);
    /* Динамічна ширина для різних екранів */
    max-width: 200px;
    background: #333333;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    color: rgb(12, 12, 12);
}

.list li img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.list li .movie-title {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    background: linear-gradient(135deg, #333333, #1e88e5);
    width: 100%;
}

.list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.list li:active {
    transform: scale(0.97);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* Адаптивні стилі */
@media (max-width: 1024px) {
    .list li {
        width: calc(100% / 3 - 16px);
        /* Для планшетів */
    }
}

@media (max-width: 768px) {
    .list li {
        width: calc(100% / 2 - 16px);
        /* Для середніх екранів */
    }
}

@media (max-width: 480px) {
    .list li {
        width: 100%;
        /* На мобільних кожен елемент займає всю ширину */
    }
}