#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Arial', sans-serif;
  /* Змінив шрифт */
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

nav {
  display: flex;
  width: 100%;
  /* Замінив на 100% для адаптивності */
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px 0;
  background-color: #0d0d0d;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  /* Зробив тінь м'якшою */
  border-radius: 10px;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

nav a.active {
  color: #0f0f0e;
  font-weight: bold;
  border-bottom: 2px solid #95e316;
}

li {
  background-color: #333333;
}

/* Медіа-запити для мобільних пристроїв */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    width: 100%;
  }

  nav a {
    font-size: 16px;
    padding: 8px 15px;
  }
}

a:focus {
  outline: 2px solid #95e316;
}